*{
    padding: 10px;
    margin: 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#div1{
    margin: 5px;
    padding: 20px;
    text-align: justify;
    border : 1px solid black;
}
#div2{
    padding: 0;
}
img{
    height: 400px;
    width: 500px;
    padding: 0;
    margin: 0;
}
#div3{
    
}
a{
    color: black;
}
span{
    Weight: 400;
    Size: 32px;
    line-height: 38.73px;
}
h1{
    font-weight:700;
    font-size:64px;
    line-height: 77.45px;
    padding: auto;
    text-decoration: underline;
}
ol{
    margin: 30px;
    line-height: 77.45px;
}